<%- include("partials/header") %>
    <title>Bat Locations</title>
    <!-- <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 25.3026511, lng: 55.4818249 },
                zoom: 10,
            });
        }
    </script> -->
    <script>
        var parsed_incidents = <%-JSON.stringify(incidents)%>;
    </script>
    </head>

    <body>
        <!-- Navigation -->
        <%- include("partials/nav") %>
            <div class="container">
                <h1>Hello, world!</h1>
                <form method="GET" action="/filter">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="species_name">Species Name</label>
                            <select name="species_name" id="species_name" class="form-control">
                                <option value="All">All</option>
                                <option>Rhinopoma muscatellum</option>
                                <option>Taphozous perforatus</option>
                                <option>Pipistrellus kuhli</option>
                                <option>Rhyneptesicus nasutus</option>
                                <option>Eptesicus bottae</option>
                                <option>Rousettus aegyptius</option>
                                <option>Myotis emarginatus</option>
                                <option>Asellia tridens</option>
                              </select>
                        </div>
              
                     
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="from_date">From Date</label>
                            <input type="date" id="from_date" name="from_date">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to_date">To Date</label>
                            <input type="date" id="to_date" name="to_date">
                        </div>
                    </div>    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="num_detections">Limit: </label>
                            <input type="number" id="num_detections" name="num_detections" value="15">
                        </div>
                    </div>    
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
                <hr>
                <div class="form-group col-md-6">
                    <label for="city">Highlight City</label>
                    <select name="city" id="city" class="form-control">
                        <option>None</option>
                        <option>Dubai</option>
                        <option>Sharjah</option>
                        <option>Ras Al Khaimah</option>
                      </select>
                </div>
                <%for(const inc of incidents){ %>
                    <%= inc %>
                </br>
                        <% } %>


            </div>
            <div id="map"></div>
            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <!-- AIzaSyA4GafQMEhy5nOAgAlK9cHQH6bk5yEah-A -->
            <!-- ad key  -->
            <!-- AIzaSyA__C1hnT5apk-I5uYcqgDb5yWRMqkR-ko --> 
            <!-- Taslim key  -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="javascript/index.js"></script>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4GafQMEhy5nOAgAlK9cHQH6bk5yEah-A&callback=initMap&libraries=visualization&v=weekly"
                async></script>
            <%- include("partials/footer") %>